html, body {
  // font-family: 'Alpha Slab One';
  // font-family: 'Alfa Slab One', cursive;
  font-family: 'Luckiest Guy', cursive;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

#game {
  background-color: #ddd;
  height: 100%;
  margin: 0 auto 2.5rem;
  padding: .5rem;
  text-align: center;
  width: 70rem;

  .square {
    background-color: #76b8f5;
    box-shadow: .8rem .6rem 2rem #000 inset;
    font-size: 18rem;
    font-weight: bold;
    letter-spacing: 3rem;
    line-height: 14rem;
    text-align: left;
    text-shadow: .6rem .6rem .4rem #1d81de;
    width: 15rem;
    height: 15rem;
  }

  #gameBoard {
    background-color: #f2f4da;
    display: flex;
    flex-flow: row wrap;
    height: 50rem;
    justify-content: space-around;
    margin: 0 auto 0;
    padding: .5rem;
    width: 50rem;
  }

  .replay {
    background-color: #0dd;
    font-size: 4.5rem;
    height: 5rem;
    line-height: 7rem;
    margin: 1rem auto;
    width: 20rem;
  }

  #messages {
    font-size: 3rem;
    font-weight: bold;
    height: 6rem;
    letter-spacing: .5rem;
    line-height: 6rem;
    width: 54rem;
  }
}
